/*!
Theme Name: hitstore
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hitstore
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

hitstore is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    min-width: 20px;
    outline: none;
    padding: 0 20px;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    outline: 0;
    border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
    font-size: 14px;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
    outline: 0;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 3px;
    outline: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #888;
    text-decoration: none;
}

a:visited {
    color: #888;
}

a:hover, a:focus, a:active {
    color: #469c6e;
}

a:focus {
    outline: 0;
}

a:hover, a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
span.sub-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 2px;
    width: 42px;
    height: 42px;
    text-align: center;
    background: transparent;
    color: #212121;
    line-height: 42px;
    z-index: 99;
    cursor: pointer;
}

.main-navigation {
    background: #eaeaea;
    border-top: 1px solid #e2dddd;
}

.main-navigation ul {
    margin: 0;
    padding: 0 1px;
}

.main-navigation ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 -2px;
}

.main-navigation ul ul li {
    margin: 0;
}

.main-navigation ul li a {
    display: block;
    color: #0e0e0e;
    font-size: 13px;
    padding: 12px 16px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    font-weight: 500;
}

.main-navigation ul li:hover > a,
.main-navigation ul li.current-menu-item > a {
    color: #ec7612;
}

.main-navigation ul li ul {
    left: 0;
    top: 72%;
    margin: 0;
    width: 210px;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #eaeaea;
    z-index: 999;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border-top: 2px solid #ff5c00;
    padding: 0;
}

.main-navigation ul li ul li {
    position: relative;
    display: block;
}

.main-navigation ul li ul li a {
    padding: 11px 20px;
    font-size: 13px;
}

.main-navigation ul li:hover > ul {

    opacity: 1;
    visibility: visible;
}

.main-navigation ul li ul li ul {
    left: 100%;
    top: 0%;
    margin: 0;
    width: 210px;
    padding: 0;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(48, 48, 48);
    z-index: 1;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3)
}

.main-navigation ul li ul li {
    position: relative;
}

.main-navigation ul li ul li ul {
    left: 100%;
    top: 0%;
    margin: 0;
    width: 210px;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #eaeaea;
    z-index: 1;
    padding: 0;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.main-navigation ul li ul li:hover > ul {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}

/*menu has children*/
.main-navigation ul > li.menu-item-has-children {
    position: relative;
}

.main-navigation ul > li.menu-item-has-children a {
    padding-right: 25px;
}

.main-navigation div > ul > li.menu-item-has-children:before {
    content: '\f107';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: FontAwesome;
    color: #0e0e0e;
    right: 9px;
    font-size: 14px;
}

.main-navigation ul ul li.menu-item-has-children:before {
    content: '\f105';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: FontAwesome;
    color: #0e0e0e;
    right: 9px;
}

.main-navigation div > ul > li.menu-item-has-children:hover:before,
.main-navigation ul ul li.menu-item-has-children:hover:before {
    color: #ec7612;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.main-menu-toggle {
    display: none;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget-area ul {
    margin: 0;
}

.widget-area ul li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
    line-height: 32px;
}

.widget-area .widget .widget-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
    background-color: #fafafa;
    border-left: 4px solid #3986bb;
    margin: 5px 0;
    text-transform: uppercase;
    display: inline-block;
    color: #3986bb;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.widget_archive li,
.widget_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive a,
.widget_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    color: #333333;
    font-size: 16px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget a:hover,
.widget a:hover::before,
.widget li:hover::before {
    color: #3986bb;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li:before,
.widget_nav_menu li:before {
    color: #333333;
    content: "\f187";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 700;
    left: 0;
    position: absolute;
    top: -8px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_categories a::before {
    content: "\f07b";
    top: 0;
}

.widget_archive a::before {
    top: 0;
}

.widget_recent_entries a::before {
    content: "\f101";
}

.widget_meta a::before,
.widget_nav_menu li:before {
    content: "\f138";
}

.widget_recent_comments li::before {
    content: "\f086";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li:before {
    content: "\f1ea";
    top: 0;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu li:before {
    top: 0;
}

/*--------------------------------------------------------------
# Sidebar Select
--------------------------------------------------------------*/

.widget select {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.widget_archive ul li,
.widget_categories ul li,
.widget_product_categories ul li {
    width: 100%;
    text-align: right;
    display: inline-block;
    font-size: 13px;
    line-height: 23px;
    font-weight: 300;
}

.widget_archive ul li a,
.widget_categories ul li a,
.widget_product_categories ul li a {
    float: left;
}

.widget_categories ul li:last-of-type,
.widget_recent_comments ul li:last-of-type,
.widget_rss ul li:last-of-type,
.widget_recent_entries ul li:last-of-type,
.widget_pages ul li:last-of-type,
.widget_meta ul li:last-of-type,
.widget_nav_menu ul li:last-of-type,
.widget_archive ul li:last-of-type {
    border-bottom-width: 0;
}

.widget_tag_cloud .tagcloud {
    padding: 0 20px 20px;
}

/*--------------------------------------------------------------
# Sidebar Sub Menu
--------------------------------------------------------------*/

.widget_pages ul li .children li:last-child,
.widget_nav_menu ul li .sub-menu li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Sidebar Search
--------------------------------------------------------------*/
.widget_search .search-form {
    position: relative;

}

.widget_search .search-field::-webkit-input-placeholder,
.widget_search .search-form:-moz-placeholder,
.widget_search .search-form:-ms-input-placeholder {
    color: #868686;
}

.widget_search .search-form > label {
    margin: 0;
    width: 100%;
}

.widget_search .screen-reader-text {
    display: none;
}

.widget_search .search-field {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #333;
    display: inline-block;
    height: 47px;
    vertical-align: middle;
    width: 100%;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
}

.widget_search .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    margin-left: 0;
    vertical-align: middle;
    transition: all 0.5s ease 0s;
    -webkit-transition: all ease 0.5s;
    border: none;
    color: #fff;
    background: #3986bb;
    padding: 0 15px;
}

.widget_search .search-submit:hover {
    background: #000;
    color: #fff;
}

/*--------------------------------------------------------------
# Calender
--------------------------------------------------------------*/

.widget_calendar tbody td {
    text-align: center;
    color: #a8a7a7;
}

.widget_calendar caption {
    font-weight: 700;
}

.calendar_wrap caption {
    background: none repeat scroll 0 0 #3986bb;
    color: #fff;
    line-height: 25px;
    text-align: center;
}

.calendar_wrap table {
    border-collapse: collapse;
    width: auto;
}

.calendar_wrap table th {
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 8px 0px;
    text-align: center;
    width: 5%
}

.calendar_wrap table td {
    border: 1px solid #ccc;
    padding: 8px 0px;
    color: #000;
    width: 5%;
    text-align: center;
}

.calendar_wrap table td #prev,
.calendar_wrap table td#next {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar_wrap table td #next {
    text-align: right;
}

.custom-html-widget {
    margin: 0 20px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*********************
*      Grid Layout
*
***********************/
.container {
    width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}

.container:before {
    content: " ";
    display: table;
}

.container:after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row:before {
    display: table;
    content: " ";
}

.row:before {
    display: table;
    content: " ";
    clear: both;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6,
.column7,
.column8,
.column9,
.column10,
.column11,
.column12 {
    position: relative;
    width: 100%;
}

.column1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
}

.column2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
}

.column3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.column4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}

.column5 {
    width: 41.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
}

.column6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.column7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
}

.column8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
}

.column9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.column10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
}

.column11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
}

.column12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.pd5 {
    padding: 0 5px;
}

.pd10 {
    padding: 0 10px;
}

.pd15 {
    padding: 0 15px;
}

.pd20 {
    padding: 0 20px;
}

.pd30 {
    padding: 0 30px;
}

.pd40 {
    padding: 0 40px;
}

.pd40 {
    padding: 0 50px;
}

/*********************
*       General CSS
*
***********************/
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

.center {
    text-align: center
}

.left {
    text-align: left
}

.right {
    text-align: right
}

a.readmore {

}

a.link {
}

section {
    margin-bottom: 50px;
}

.section-title {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.section-title::before {
    font-size: 52px;
    color: #cccccc;
    line-height: 46px;
    font-family: "Oswald", sans-serif;
    content: attr(data-title);
    font-weight: 700;
    display: block;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 1;
    padding-left: 25px;
    background-color: #ffffff;
}

.section-title::after {
    position: absolute;
    left: 10px;
    top: 50%;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    z-index: -1;
}

.section-title h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    background-color: #ffffff;
    padding: 10px 25px;
    margin: 0;
    margin-left: 40px;
    float: left;
    position: relative;
    z-index: 3;
}

.blog-subtitle {

}

/*********************
*       Header
*
***********************/

/***** Top Header****/
.hitStore_topheader {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    background: #464444;
    background: -webkit-linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    background: linear-gradient(90deg, #2b5480 0, #48a06e 100%);
}

.hitStore_topheader .hitStore_topheader_left {
    float: left;
}

.hitStore_topheader .hitStore_topheader_right {
    float: right;
}

.hitStore_topheader .top_menu_wrapper ul.hitStore_top_menu {
    padding: 0;
    margin: 0;
    text-align: left;
}

.hitStore_topheader .top_menu_wrapper ul.hitStore_top_menu li {
    float: left;
    list-style-type: none;
    font-size: 13px;
}

.hitStore_topheader .top_menu_wrapper ul.hitStore_top_menu li:after {
    content: "|";
    color: #ccc;
}

.hitStore_topheader .top_menu_wrapper ul.hitStore_top_menu li:last-child:after {
    content: "";
}

.hitStore_topheader .top_menu_wrapper ul.hitStore_top_menu li a {
    color: #FFF;
    margin: 0px 8px;
    transition: all 0.4s ease;
}

.hitStore_topheader .hitStore_topheader_right ul.hitstore_socialmeida_link {
    padding: 0;
    margin: 0;
    float: right;
}

.hitStore_topheader .hitStore_topheader_right ul.hitstore_socialmeida_link li {
    display: inline;
    list-style-type: none;
    padding: 5px;
}

.hitStore_topheader .hitStore_topheader_right ul.hitstore_socialmeida_link li a {
    color: #FFF;
    transition: all 0.4s ease;
}

.hitStore_topheader .hitStore_topheader_right ul.hitstore_socialmeida_link li a:hover,
.hitStore_topheader .top_menu_wrapper ul.hitStore_top_menu li a:hover {
    color: #469c6e;
}

/***** main Header****/
.hitStore_mainheader .row {
    align-items: center;
}

.hitStore_mainheader .logo.site-branding h1 {
    margin: 5px 0px 0px 0px;
    text-transform: uppercase;
}

.hitStore_mainheader .logo.site-branding h1 a {
    color: #ff5c00;
}

.hitStore_mainheader .logo.site-branding p {
    color: #000;
    margin: 0;
    font-size: 14px;
}

.hitStore_mainheader .header_select_cata {
    width: 30%;
    float: left;
    position: relative;
    display: table-cell;
}

.hitStore_mainheader .header_search_form {
    display: table;
    position: relative;
    width: 100%;
    height: 80px;
}

.hitStore_mainheader .header_search_form form {
    display: table-cell;
    vertical-align: middle;
}

.search-box-border {
    display: inline-block;
    width: 100%;
    background: -webkit-linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    background: linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    padding: 1px;
}

.hitStore_mainheader .header_select_cata select {
    padding-left: 10px;
    height: 40px;
    background: #f2f3f7;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.hitStore_mainheader .header_select_cata:after {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-weight: 700;
    right: 7px;
    color: #8e8e90;
    bottom: 7px;
}

.hitStore_mainheader .header_search_input_box {
    float: left;
    width: 70%;
    display: table-cell;
}

.hitStore_mainheader .header_search_input_box input {
    padding-left: 10px;
    height: 40px;
    background: #f2f3f7;
    width: 100%;
    border-radius: 0;
}

.hitStore_mainheader button.header_product_search {
    position: absolute;
    right: 0;
    background: transparent;
    border: 0;
    font-size: 15px;
    line-height: 1.6;
    cursor: pointer;
}

/***** header user account, wishlist, cart *****/
.htStore_ecommerce_extra_button {
    display: block;
    width: 100%;
    position: relative;
}

.hitStore_user_account {
    position: relative;
}

.hitStore_user_account, .hitStore_user_wishlist, .hitStore_user_cart, .hitStore_header_search {
    width: 60px;
    display: block;
    text-align: center;
    vertical-align: middle;
    float: right;
    line-height: 2.5;
}

.hitStore_user_account .hitStore_user_account_icon, .hitStore_user_wishlist .hitStore_wishlist_icon,
.hitStore_user_cart .hitStore_cart_icon, .hitStore_search_icon {
    font-size: 30px;
}

.hitStore_user_wishlist .hitStore_wishlist_icon span, .hitStore_user_cart .hitStore_cart_icon span, .hitStore_search_icon span, .hitStore_user_account_icon span {
    position: relative;
    color: #4e4e4e;
}

.hitStore_user_wishlist .hitStore_wishlist_icon span, .hitStore_user_cart .hitStore_cart_icon span, .hitStore_search_icon span, .hitStore_user_account_icon span {
    position: relative;
    color: #15273a;
}

.hitStore_user_account .hitStore_user_account_icon .hitStore_account_signIn {
    font-size: 12px;
    line-height: 1;
}

.hitStore_user_account .user_account_menu_dropdown {
    position: absolute;
    background: #FFF;
    padding: 12px;
    width: 180px;
    top: 65px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transform: translateY(-1em);
    z-index: 999;
}

.hitStore_user_account:hover .user_account_menu_dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.hitStore_user_account .user_account_menu_dropdown .hitStore_account_menu_list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.hitStore_user_account .user_account_menu_dropdown .hitStore_signIn.hitstore_login a.hitStore_login_button {
    display: block;
    width: 100%;
    color: #000;
    background: transparent;
    margin-bottom: 5px;
    font-size: 12px;
    border: 1px solid #000;
    transition: all 0.4s ease;
}

.hitStore_user_account .user_account_menu_dropdown .hitStore_signIn.hitstore_login a.hitStore_login_button:hover {
    display: block;
    width: 100%;
    color: #FFF;
    background: #ff5c00;
    margin-bottom: 5px;
    font-size: 12px;
    border: 1px solid #ff5c00;
}

.hitStore_user_account .user_account_menu_dropdown .hitStore_signIn.hitstore_login a.hitStore_signIn_button {
    display: block;
    width: 100%;
    color: #FFF;
    background: #000;
    margin-bottom: 5px;
    font-size: 12px;
    border: 1px solid #000;
    transition: all 0.4s ease;
}

.hitStore_user_account .user_account_menu_dropdown .hitStore_signIn.hitstore_login a.hitStore_signIn_button:hover {
    display: block;
    width: 100%;
    color: #FFF;
    background: #ff5c00;
    margin-bottom: 5px;
    font-size: 12px;
    border: 1px solid #ff5c00;
}

.hitStore_user_account .user_account_menu_dropdown .hitStore_account_menu_list ul li {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    color: #ddd;
}

.hitStore_user_account, .hitStore_user_wishlist, .hitStore_user_cart, .hitStore_header_search {
    cursor: pointer;
}

.wishlist_count, .cart_count {
    position: absolute;
    color: #FFF;
    font-size: 12px;
    top: -4px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: -12px;
    line-height: 2;
    background: -webkit-linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    background: linear-gradient(90deg, #2b5480 0, #48a06e 100%);
}

/*******************
 HitStore Main Category Nav
*********************/
.hitStore_category_with_banner {
    display: block;
    margin-top: 15px;
}

.hitStore_category_nav_left {
    float: left;
    margin-right: 15px;
}

.hitStore_category_nav_right {
    float: right;
    margin-left: 15px;
}

span.cat-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 2px;
    width: 42px;
    height: 42px;
    text-align: center;
    background: transparent;
    color: #FFF;
    line-height: 42px;
    z-index: 99;
    cursor: pointer;
}

.hitStore_category_with_banner .hitStore_main_category_nav {
    width: calc(25% - 15px);

}

.hitStore_main_category_nav.hitStore_category_nav_left .hitStore_main_category_title > h3 {
    padding: 10px 15px 10px 50px;
    text-align: left;
    position: relative;
}

.hitStore_main_category_nav.hitStore_category_nav_right .hitStore_main_category_title > h3 {
    padding: 10px 50px 10px 15px;
    text-align: right;
}

.hitStore_main_category_nav.hitStore_category_nav_left .hitStore_main_category_title > h3,
.hitStore_main_category_nav.hitStore_category_nav_right .hitStore_main_category_title > h3 {
    background: #303030 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    margin: 0;
}

.hitStore_main_category_nav.hitStore_category_nav_left .hitStore_main_category_title > h3::before {
    left: 20px;
}

.hitStore_main_category_nav.hitStore_category_nav_right .hitStore_main_category_title > h3::before {
    right: 10px;
}

.hitStore_main_category_nav.hitStore_category_nav_left .hitStore_main_category_title > h3::before,
.hitStore_main_category_nav.hitStore_category_nav_right .hitStore_main_category_title > h3::before {
    content: '\f039';
    font-size: 20px;
    font-family: FontAwesome;
    font-weight: 500;

    margin-right: 12px;
    position: absolute;
    top: 8px;
}

.hitStore_category_with_banner .menu-product-category-container {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid rgba(129, 129, 129, 0.2);
    width: 100%;
    z-index: 99;
}

.hitStore_category_with_banner .hitStore_main_category_nav ul {
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

.hitStore_category_with_banner .hitStore_main_category_nav ul li {
    list-style-type: none;
}

.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_left ul li a,
.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_right ul li a {
    color: #333;
    display: block;
    font-size: 14px;
    letter-spacing: 0.4px;
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: #fff;
    transition: all .3s ease 0s;
    border-bottom: 1px solid #eee;
}

.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_right ul li a {
    text-align: right;
}

.hitStore_category_with_banner .hitStore_main_category_nav ul li a:hover {
    color: #469c6e;
}

/*menu has children*/
.hitStore_category_with_banner .hitStore_main_category_nav ul > li.menu-item-has-children {
    position: relative;
}

.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_left ul > li.menu-item-has-children:after,
.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_right ul > li.menu-item-has-children:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: FontAwesome;
    color: #656362;
    font-size: 14px;
}

.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_left ul > li.menu-item-has-children:after {
    right: 9px;
    content: '\f105';
}

.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_right ul > li.menu-item-has-children:after {
    left: 9px;
    content: '\f104';
}

.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_left ul li:hover > ul,
.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_right ul li:hover > ul {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}

.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_left ul li ul {
    /*left: 350px;*/
    right: -210px;
}

.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_right ul li ul {
    /*right: 350px;*/
    left: -210px;
}

.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_left ul li ul,
.hitStore_category_with_banner .hitStore_main_category_nav.hitStore_category_nav_right ul li ul {
    top: 20%;
    margin: 0;
    width: 210px;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: auto;
    z-index: 999;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.hitStore_category_with_banner .hitStore_main_category_nav ul li ul li {
    position: relative;
    border: none;
}

/*******************
 HitStore slider
*********************/
.hitStore_category_with_banner .hitStore_main_slider {
    width: 75%;
    float: left;
    position: relative;
    overflow: hidden;
}

.hitStore_main_slider .lSSlideOuter .hitStore_slider_content {
    position: absolute;
    top: 13%;
    z-index: 10;

    max-width: 600px;
}

.hitStore_main_slider .lSSlideOuter .hitStore_slider_content.banner_content_left {
    left: 0;
}

.hitStore_main_slider .lSSlideOuter .hitStore_slider_content.banner_content_right {
    right: 0;
}

.hitStore_main_slider .lSSlideOuter .hitStore_slider_content h3 {
    color: #3a3737;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 12px;
    padding: 0px 39px;
}

.hitStore_main_slider .lSSlideOuter .hitStore_slider_button {
    color: #FFF;
    padding: 0 40px;
}

.hitStore_main_slider .lSSlideOuter .hitStore_slider_button a {
    background: -webkit-linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    background: linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 20px;
    transition: all 0.5s ease;
    color: #FFF;
}

.hitStore_main_slider .lSSlideOuter .lSPager {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/*******************
 HitStore slider Promo
*********************/
.hitStore_promotion_banner {

}

.hitStore_promotion_banner .box {
    width: 33.3333333%;
    float: left;
    max-height: 254px;
    overflow: hidden;

}

.hitStore_promotion_banner .box figure {
    padding-right: 15px;
}

.hitStore_promotion_banner .box:nth-child(3n + 1) {
    clear: right;
}

.hitStore_promotion_banner .box:nth-child(3n ) figure {
    padding-right: 0;
}

/*-----------------------------------
 Main Feature Product
---------------------------------------*/
.hitStore_main_feature .product-tab-filter ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
}

.hitStore_main_feature .product-tab-filter ul.tabs li {
    font-size: 12px;
    color: #777777;
    font-weight: 600;
    line-height: 20px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 35px;
}

.hitStore_main_feature .product-tab-filter {
    margin: 15px 0;
}

.hitStore_main_feature .product-tab-filter ul.tabs li.current {
    color: #469c6e;
}

.hitStore_main_feature .product-tab-content {
    width: 100%;
}

.hitStore_main_feature .product-tab-content .tab-content {
    display: none;
    padding: 0px;
}

.hitStore_main_feature .product-tab-content .tab-content.current {
    display: inherit;
}

/*-----------------------------------
 New  Arrivals
---------------------------------------*/
.hitStore_main_new_arrivals .box {
    width: calc(25.2% - 13px);
    float: left;
    display: block;
    margin-right: 10px;
}

.hitStore_main_new_arrivals .box:nth-child(4n + 1) {
    clear: left;
}

.hitStore_main_new_arrivals .box:nth-child(4n ) {
    margin-right: 0;
}

/*-----------------------------------
 advertisement banner
---------------------------------------*/
.hitStore_advertisement_banner {
    width: 100%;
    float: left;
    display: block;
}

.hitStore_advertisement_banner .advertisement {
    width: 100%;
    float: left;
    display: block;
    position: relative;
}

.hitStore_advertisement_banner .advertisement figure {
    width: 100%;
    float: left;
    display: block;
    margin: 0;
}

.hitStore_advertisement_banner .advertisement-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.hitStore_advertisement_banner .advertisement-caption-inner {
    position: relative;
    top: 25%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.hitStore_advertisement_banner .advertisement-caption h3 {
    margin: 5px 0;
    color: #FFF;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 60px;
    transition: all 0.4s ease;
}

.hitStore_advertisement_banner .advertisement-caption a {
    text-align: center;
    color: #FFF;
    position: relative;
    font-size: 20px;
}

.hitStore_advertisement_banner .advertisement-caption a:hover {
    color: #ff5c00;
}

.hitStore_advertisement_banner .advertisement-caption a:after {
    right: -36px;
    bottom: -9px;
    content: "\f178";
    font-family: 'FontAwesome';
    font-size: 29px;
    position: absolute;
}

/*-----------------------------------
 advertisement video
---------------------------------------*/
.hitStore_advertisement_video {
    width: 100%;
    float: left;
    display: block;
    background-repeat: no-repeat;
    background: center;
    background-size: cover;
    padding: 40px 0;
}

.hitStore_advertisement_video .box {
    width: 50%;
    float: left;
    display: block;
}

.hitStore_advertisement_video .advertisement {
    width: 100%;
    float: left;
    display: table;
    min-height: 400px;
}

.hitStore_advertisement_video .advertisement figure {
    width: 100%;
    float: left;
    display: block;
    margin: 0;
}

.hitStore_advertisement_video .advertisement-caption-inner {
    display: table-cell;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

.hitStore_advertisement_video .advertisement h3 {
    margin: 5px 0;
    color: #FFF;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 60px;
    font-style: italic;
}

.hitStore_advertisement_video .advertisement h4 {
    margin: 5px 0;
    color: #FFF;
    line-height: 60px;
    font-style: italic;
    font-size: 50px;
}

.hitStore_advertisement_video .advertisement a {
    text-align: center;
    color: #FFF;
    position: relative;
    font-size: 20px;
    transition: all 0.4s ease;
}

.hitStore_advertisement_video .advertisement a:hover {
    color: #ff5c00;
}

.hitStore_advertisement_video .advertisement a:after {
    right: -36px;
    bottom: -9px;
    content: "\f178";
    font-family: 'FontAwesome';
    font-size: 29px;
    position: absolute;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-----------------------------------
 with side banner
---------------------------------------*/
.hitStore_main_product_with_side_banner {
    width: 100%;
    display: block;
    float: left;
}

.hitStore_main_product_with_side_banner .box {
    width: calc(33.3333% - 13px);
    float: left;
    display: block;
    margin-right: 10px;
}

.hitStore_main_product_with_side_banner .box:nth-child(3n + 1) {
    clear: left;
}

.hitStore_main_product_with_side_banner .box:nth-child(3n) {
    margin-right: 0;
}

.feature-adz-wrapper {
    padding: 0 15px;
    width: 100%;
    display: block;
}

.feature-adz {
    float: left;
    width: 100%;
    display: block;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}

.feature-adz h5 {
    margin-top: 10px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #000;
}

.feature-adz h5 a {
    margin-top: 10px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #FFF;
}

.feature-adz h4 {
    margin-top: 0px;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
    color: #FFF;
}

.feature-adz h4 span {
    font-size: 60px;
}

.feature-adz img {
    width: 100%;
}

.feature-adz a.shop-now {
    text-align: center;
    color: #FFF;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.feature-adz a.shop-now:hover {
    color: #ff5c00;
}

.feature-adz a.shop-now:after {
    right: -36px;
    bottom: -9px;
    content: "\f178";
    font-family: 'FontAwesome';
    font-size: 29px;
    position: absolute;
}

.feature-adz h6 {
    margin: 0;
    font-size: 20px;
    color: #FFF;
}

/*-----------------------------------
 Footer
---------------------------------------*/
.hitStore_footer {
    width: 100%;
    display: block;
    float: left;
}

.hitStore_main_footer {
    width: 100%;
    background: #3b7e76;
    padding-top: 20px;
}

.hitStore_main_footer .footer-widget > div,
.hitStore_main_footer .footer-widget > aside,
.hitStore_main_footer .footer-widget > section {
    padding: 0 15px;
    width: 100%;
    display: block;
    color: #FFF;
}

.hitStore_main_footer .widget .textwidget p.contact-info {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 13px;
}

.hitStore_main_footer .widget .textwidget p.contact-info span {
    display: block;
    font-weight: 600;
}

.hitStore_main_footer .widget .textwidget p.contact-info a {
    display: block;
    font-size: 14px;
    line-height: 23px;
}

.hitStore_main_footer .widget a {
    color: #FFF;
    transition: all 0.4s ease;
}

.hitStore_main_footer .widget a:hover {
    color: #ff5c00;
}

.hitStore_main_footer .widget ul {
    padding: 0;
    margin: 0;
}

.hitStore_main_footer .widget ul li {
    list-style-type: none;
}

.hitStore_main_footer .widget .widget-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 28px;
    text-transform: uppercase;

}

.hitStore_main_footer .widget h2.widget-title:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100px;
    border-bottom: 2px solid #3986bb;
}

.hitStore_main_footer .widget ul li,
.hitStore_main_footer .widget ul li a,
.hitStore_main_footer .widget ul li:before,
.hitStore_main_footer .widget ul li a:before {
    color: #fff;
}

.hitStore_main_footer .widget ul li {

}

.hitStore_main_footer .widget ul li:last-child {
    border-bottom: 0;
}

.hitStore_main_footer .subscribe input[type="text"]:focus {
    outline: none
}

.hitStore_footer .hitStore_main_footer_copyright {
    padding: 20px 0;
    background: -webkit-linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    background: linear-gradient(90deg, #2b5480 0, #48a06e 100%);
}

.hitStore_footer .hitStore_main_footer_copyright p {
    color: #FFF;
    margin: 0px;
}

/*-----------------------------------
 Product List
---------------------------------------*/
.product-list-inner {
    padding: 0 15px;
    margin-bottom: 30px;
    float: left;
    display: block;
    width: 100%;
}

.product-listing {
    -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    float: left;
    width: 100%;
    position: relative;

}

.product-listing figure {
    background: #f3f3f3;
    text-align: center;
    margin: 0;
    position: relative;
    padding: 30px 0;
}

.product-listing figure img {
    width: 100%;
}

.product-listing figure a {
    display: block;
    margin: 0 auto;

}

.product-listing .product-category-title {
    padding: 15px;
    background: #FFF;
}

.product-listing figure .label {
    position: absolute;
    left: 20px;
    top: 28px;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 20px;
}

.product-listing figure .label.sale {
    color: #202020;
}

.product-listing figure .label.discount {
    color: #469c6e;
}

.product-listing .product-category-title a {
    font-size: 12px;
}

.product-listing .product-category-title h5 {
    margin: 0;
}

.product-listing .product-category-title h5 a {
    color: #656464;
    transition: all 0.4s ease;
}

.product-listing .product-category-title h5 a:hover {
    color: #469c6e;

}

.product-listing:hover .product_hover_info {
    opacity: 1;
    top: 50%;
}

.product-listing .product_hover_info {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 60%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: 0.6s;
}

.product-listing ul.product_action {
    width: 155px;
    display: flex;
    height: 48px;
    justify-content: space-around;
    margin: auto;
    position: relative;
    z-index: 2;
    background: #FFF;

    padding: 0;
}

.product-listing .product_action li {
    position: relative;
    width: 50%;
    list-style-type: none;
}

.product-listing .product_action li {
    position: relative;
    width: 50%;
    list-style-type: none;
    border-right: 1px solid #dcdcdc;
    padding: 14px 0;
}

.product-listing .product_action li:last-child {
    border: none;
}

.product-listing .product_action li a {
    transition: all 0.4s ease;
}

.product-listing .product-content {
    width: 100%;
    display: block;
}

.product-listing .price-ratting {
    width: 100%;
    display: block;
    padding: 15px;
    float: left;
    background: #FFF;
    border-top: 1px solid #ececec;
}

.product-listing .price-ratting h5.price {
    margin: 4px 0 0 0;
    float: left;
}

span.old-price {
    margin-right: 10px;
    position: relative;
}

span.old-price::after {
    border-bottom: 2px solid rgba(255, 0, 0, 1);
    content: "";
    left: 0;
    line-height: 1em;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 47%;
}

.product-listing .price-ratting .ratting {
    float: right;
}

/*--------------------------
  Toggle menu
-----------------------*/
.body__overlay {
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s, transform 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 99999;
}

.body__overlay.is-visible {
    opacity: 1;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0s, transform 0.3s ease 0s;
    visibility: visible;
}

.offsetmenu,
.shopping__cart,
.user__meta {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 85px rgba(0, 0, 0, 0.2);
    display: block;
    height: 100vh;
    opacity: 0;
    overflow-y: scroll;
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.25s ease 0s;
    z-index: 99999;
    width: 475px;

}

.user__meta .htc__login__register {
    padding-top: 30px;
}

.offsetmenu.offsetmenu__on,
.shopping__cart.shopping__cart__on,
.user__meta.user__meta__on {
    opacity: 1;
    padding-bottom: 50px;
    right: calc(0px - 16px);
}

.offsetmenu__inner,
.shopping__cart__inner,
.user__meta__inner {
    height: 100%;
    padding: 60px 50px 60px;
}

.offsetmenu__close__btn, .offsetmenu__user__meta__close__btn {
    background-color: #FFF;
    padding: 29px 50px 24px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.offsetmenu__close__btn a i, .offsetmenu__user__meta__close__btn a i {
    color: #666665;
    font-size: 36px;
    transition: all 0.3s ease 0s;
}

.offsetmenu__close__btn a:hover i {
    color: #2b5480 ;
}

.offset__widget {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
    margin-top: 7px;
}

h4.offset__title {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.offset__single ul li a {
    color: #303030;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
}

.offset__single ul li + li {
    padding: 2px 0 0;
}

.offset__single ul li a:hover {
    color: #ff4136;
}

.off__contact p {
    color: #303030;
    font-size: 16px;
    line-height: 28px;
    width: 98%;
    text-align: center;
}

.offset__sosial__share {
    margin-top: 21px;
    text-align: center;
}

.off__soaial__link {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.off__soaial__link li + li {
    padding-left: 15px;
}

.off__soaial__link li a {
    height: 35px;
    line-height: 35px;
    width: 35px;
    text-align: center;
    transition: all 0.3s ease 0s;
    display: block;
}

.off__soaial__link li a i {
    color: #fff;
    font-size: 16px;
}

.off__soaial__link li a:hover i {
    color: #fff;
}

.off__contact {
    margin-bottom: 25px;
}

.off__contact .logo {
    margin-bottom: 18px;
    text-align: center;
}

.sidebar__thumd {
    display: flex;
    flex-wrap: wrap;
    margin: 32px -7px 30px;
}

.sidebar__thumd li {
    margin: 0 7px 15px;
    position: relative;
}

.sidebar__thumd a img {
    width: 100%;
}

.sidebar__thumd > li a::before {
    background: #ff4136 none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.sidebar__thumd li a::after {
    color: #fff;
    content: "";
    font-family: themify;
    left: 40%;
    opacity: 0;
    position: absolute;
    top: 33%;
    transition: all 0.5s ease 0s;
}

.sidebar__thumd li a {
    position: relative;
}

.sidebar__thumd > li a {
    display: block;
}

.sidebar__thumd li a:hover::after {
    opacity: 1;
}

.sidebar__thumd li a:hover::before {
    opacity: 0.7;
}

.shopping__cart__inner {
    padding: 102px 50px;
}

.shopping__cart__inner .offsetmenu__close__btn, .offsetmenu__user__meta__close__btn {
    padding: 21px 50px 24px;
}

/*---------------------------------
  Shopping Cart Area
---------------------------------*/

.shp__pro__details h2 {
    border-top-width: 0;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
    text-transform: none;
}

.shoping__total li {
    list-style-type: none;
}

.shoping__total .subtotal {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.shp__pro__details .shp__price {
    color: #fb6363;
    display: block;
}

.shoping__total .subtotal {
    color: #000;
    font-weight: 400;
}

.shoping__total .total__price {
    color: #c33;
    float: right;
}

ul.shopping__btn, ul.user__meta__btn {
    padding: 0;
    margin: 0
}

.shopping__btn li, .user__meta__btn li {
    list-style-type: none;
}

.shopping__btn li a, .user__meta__btn li a {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    font-size: 14px;
    height: 57px;
    line-height: 57px;
    margin-bottom: 15px;
    padding: 0 25px;
    text-align: center;
    text-transform: none;
    transition: all 0.5s ease 0s;
    width: 100%;
    display: block;

}

.shopping__btn li a:hover, .user__meta__btn li a:hover {
    background: #2b5480 ;
    border: 1px solid #2b5480 ;
    color: #fff;
}

.shopping__btn .shp__checkout a, .user__meta__btn .user__meta__signup a {
    background: -webkit-linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    background: linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    color: #fff;
    border: none;
}

.shopping__btn .shp__checkout a:hover, .user__meta__btn .user__meta__signup a:hover {
    background: -webkit-linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    background: linear-gradient(90deg, #2b5480 0, #48a06e 100%);
    color: #fff;
    border: none;
}

.shp__single__product {
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;
    padding-top: 21px;
}

.shp__pro__thumb {
    margin-right: 20px;
}

.shp__pro__thumb a {
    display: block;
}

.shp__pro__thumb a img {
    max-width: 60px;
}

.remove__btn {
    text-align: right;
    width: 20px;
}

.shp__pro__details {
    min-width: 71%;
}

.shp__cart__wrap {
    margin-top: -30px;
}

ul.shoping__total {
    border-top: 1px solid #ddd;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 22px 0;
}

.remove__btn a i {
    color: #ccc;
    font-size: 22px;
    transition: all 0.5s ease 0s;
}

.remove__btn a:hover i {
    color: #2b5480 ;
    transform: rotate(180deg);
}

.shp__cart__wrap .shp__single__product + .shp__single__product {
    border-top: 1px solid #ddd;
}

.user__meta__button {
    display: block;
    margin-top: 24px;
}

.account__menu {
    display: block;
    margin-top: 25px;
}

.user__meta__setting {
    font-size: 25px;
    font-weight: 400;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 4px 0;
    color: #000;
    margin-bottom: 10px;
}

ul.user__meta__account__menu {
    margin: 0;
    padding: 0;
}

ul.user__meta__account__menu li {
    list-style-type: none;
    padding: 4px 0;
}

ul.user__meta__account__menu li a {
    font-size: 16px;
    font-weight: 400;
}

/*----------------------------------------------------------------------
## Breadcrumbs
------------------------------------------------------------------------*/
.breadcrumblinks {
    padding: 10px 0;
}

ul.breadcrumb {
    border-bottom: 1px solid #dddddd;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.breadcrumb li {
    display: inline-block;
    position: relative;
    margin-right: 11px;
}

ul.breadcrumb li a {
    color: #3e8675;
}

ul.breadcrumb li:after {
    content: " \f054";
    padding: 0 5px;
    font-size: 10px;
    font-family: FontAwesome;
    position: absolute;
    right: -17px;
    top: 5px;
}

ul.breadcrumb li:last-child:after {
    content: none;
}

/*----------------------------------------------------------------------
## Product Deatail
------------------------------------------------------------------------*/
.product-detail {
    margin: 15px 0 0 0;
}

.product-detail .photos {
    display: inline;
    width: 100%;

}

.product-detail .photos .mainimage {
    padding-left: 100px;
    margin: 0;
    display: block;
    width: 100%;

}

.product-detail .photos .mainimage .img {
    width: 100%;
}

.product-detail .photos ul.photo-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80px;
    margin-right: 20px;
    float: left;
}

.product-detail .photos li {
    display: block;
    overflow: hidden;
}

.zoomWrapper {
    overflow: hidden;
}

.product-detail .photos li img {
    width: 100%;
}

.product-detail .photos figure {
    margin: 0;
}

.productDetails {
    display: block;
    margin-bottom: 30px;
    padding: 0 30px 30px;

}

.productDetails .titleName {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}

.productDetails .titleName small {
    font-size: 13px;
    font-weight: 400;
    display: block;
}

.productDetails .socialshare {
    position: relative;
    margin-bottom: 30px;
}

.socialshare label {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 30px;
    font-weight: 700;
    color: #000000;
    line-height: 24px;
}

.productDetails .socialshare ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 70px;
}

.productDetails .socialshare ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.productDetails .socialshare ul li a {
    display: block;
    color: #666666;
    font-size: 24px;
}

.productDetails .cost {
    margin-bottom: 20px;
    display: inline-block;
}

.productDetails .cost .newcost {
    float: left;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #242a2d;
}

.productDetails .cost .oldcost {
    float: left;
    text-decoration-line: line-through;
    color: #999999;
    font-size: 14px;
}

.productDetails .quantity {
    margin-bottom: 20px;
    position: relative;
}

.productDetails .quantity .label {
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 30px;
    font-weight: 700;
    color: #000000;
    line-height: 40px;
}

.productDetails .quantity .field {
    padding-left: 100px;
}

.productDetails .quantity .field .number {
    width: 190px;
    position: relative;
}

.productDetails .quantity .field .number button {
    height: 100%;
    background: transparent;
    color: #999999;
    position: absolute;
    top: 0;
    padding: 13px 24px 23px 24px;
}

.productDetails .quantity .field .number button.left {
    border-right: 1px solid #dddddd;
    left: 0;

}

.productDetails .quantity .field .number button.right {
    border-left: 1px solid #dddddd;
    right: 0;
}

.productDetails .quantity .field .number input.center {
    text-align: center;
    width: 100%;
    padding: 6px 50px 6px 50px;

}

.productDetails .quantity .field .number input[disabled] {
    background: #ffffff;
}

.productDetails .shipping {
    margin-bottom: 20px;
    position: relative;
}
.productDetails .shipping .label {
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 30px;
    font-weight: 700;
    color: #000000;
    line-height: 40px;
}
.productDetails .shipping  .field {
    padding-left: 135px;
    line-height: 38px;
}

.productDetails .btn-cart{
    display: inline-block;
    width: 100%;
}

.productDetails .btn-cart button {
    width: calc(50% - 10px);
    float: left;
    margin-right: 10px;
    background: #2b5480;
    color: #ffffff;
    line-height: 27px;
    height: 48px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.productDetails .quantity .field .number button:hover {
    color: #ffffff;
    background: #242a2d;
    cursor: pointer;
}

.productDetails .btn-cart button.buy {
    background: #489f6e;
}


/*-------------------------------------------------------------
## Tabs
-------------------------------------------------------------------*/
.tabs-description section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #2b547f;
}

.tabs-description input {
    display: none;
}

.tabs-description label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #abc;
    border: 1px solid transparent;
}

.tabs-description label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

.tabs-description label:hover {
    color: #789;
    cursor: pointer;
}

.tabs-description input:checked + label {
    color: #2b547f;
    border: 1px solid #2b547f;
    border-top: 2px solid #2b547f;
    border-bottom: 1px solid #fff;
}

.tabs-description #tab1:checked ~ #content1,
.tabs-description #tab2:checked ~ #content2,
.tabs-description #tab3:checked ~ #content3,
.tabs-description #tab4:checked ~ #content4 {
    display: block;
}

@media screen and (max-width: 800px) {
    .tabs-description label {
        font-size: 0;
    }

    .tabs-description label:before {
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .tabs-description label {
        padding: 15px;
    }
}